.App {
  text-align: center;
  background-color: #4a2a7c; /* Purple background */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 20px;
  color: #ffffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
  background-color: #5b40ad6b; 
  color: white;
  padding: 20px; 
  width: 100%;
}

h1, h2 {
  margin: 0;
  margin-bottom: 10px;
  font-family: inherit;
}

p {
  margin-top: 15px;
  color: rgb(21, 130, 173);
  font-weight: bold;
  text-align: center;
}


form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
  border-bottom: none;
  border: 1px solid #525c66;
  border-radius: 5px;
  background-color: #7b2cb0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
}

input[type="text"], input[type="number"], select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; 
  margin-bottom: 10px;
}

input[type="text"]:focus, input[type="number"]:focus, select:focus {
  outline: none;
  border-color: #007bff;
}

button {
  font-family: inherit;
  background-color: #2196F3; 
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 15px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1e88e5;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #2196F3;
  color: #ffffff;
}

td {
  background-color: #ffffff;
  color: #000000;
}

@media (max-width: 400px) {
  form {
    width: 100%;
  }
}
